@media (min-width: 765px) {
  .col-4 {
    max-width: 100%;
  }
}
@media (min-width: 50%) {
  .col-4{
    max-width: 765px;
  }
}
@media (min-width: 33%) {
  .col-4 {
    max-width: 960px;
  }
}
@media (min-width: 50%) {
  .col-6{
    max-width: 960px;
  }
}
@media (min-width: 960px) {
  .col-6{
    max-width:100%;
  }
}
@media (min-width: 100%) {
  .col-12{
    max-width: 100%;
  }
}
